<div class="container-fluid">
  <h1><%= gettext("Edit organisation %{organisation}", organisation: @current_organisation.name || @current_organisation.slug_) %></h1>
  <%= render "form.html", assigns %>
</div>
