<div class="container-fluid">

  <h1><%= gettext "Remove user from %{org}", org: @current_organisation.name || @current_organisation.slug_ %></h1>

  <%= form_for :organisation, @action, fn f -> %>

    <div class="mb-3">
      <%= label f, :login, class: "form-label" %>
      <%= text_input f, :login, class: "form=control" %>
    </div>

    <div class="mb-3">
      <%= submit gettext("Submit"), class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
