/assets/node_modules/

/bin/gitport
/bin/size
/config.mk

# The directory Mix will write compiled artifacts to.
/_build/

/c_src/test/git_nif_test
/c_src/test/git_nif_test_asan
/c_src/test/git_nif_test_cov

*.core

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

/.env

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

*.gcno

# Ignore package tarball (built via "mix hex.build").
kmxgit-*.tar

npm-debug.log

*.o

/priv/avatar/
/priv/ci
/priv/git
/priv/libgit_nif.so
/priv/repo/dumps/
/priv/static/

test_git_nif_create
