<p>
  <%= gettext("If you need more help with git, please see :") %>
  <ul>
    <li><a href="https://git-scm.com/doc"><%= gettext("the official git documentation") %></a></li>
    <li><a href="https://stackoverflow.com/questions/tagged/git"><%= gettext("StackOverflow about git") %></a></li>
  </ul>
</p>
