<div class="container-fluid">

  <h1>Privacy</h1>

  We do not collect any data beyond hosted git repositories.

  <h2>Third party access</h2>

  No third party has access to any of our data.

  Git repositories are only accessible to allowed users or
  everyone if the repo is public.

</div>
