<%= Routes.page_url(@conn, :index) %>
<%= for user <- @users do %><%= Routes.slug_url(@conn, :show, User.login(user)) %>
<%= for repo <- user.owned_repositories do %><%= if repo.public_access do %><%= Routes.repository_url(@conn, :show, User.login(user), Repository.splat(repo)) %>
<% end %><% end %><% end %><%= for org <- @orgs do %><%= Routes.slug_url(@conn, :show, org.slug_) %>
<%= for repo <- org.owned_repositories do %><%= if repo.public_access do %><%= Routes.repository_url(@conn, :show, org.slug_, Repository.splat(repo)) %>
<% end %><% end %><% end %>
