<div class="container-fluid">

  <h1>User agreement</h1>

  Please upload only legal source code and assets for which you have the
  copyright or written permission of the author.


  <h2>Violations</h2>

  Illegal content will be removed without warning.

</div>
