/* This file is for your main application CSS */
@import "./prism-tomorrow.scss";
@import "./inter.scss";
@import "./kmx_colors.scss";
$primary: $kmx_blue;
$danger: $kmx_orange;
$dark: #000;
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "courier_new", "Courier New", monospace;
@import "./courier_new.scss";
$code-font-size: $font-size-base;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fontawesome-5.15.4-free.scss";
@import "./fontawesome-5.15.4-free-v4-shims.scss";
@import "./fontawesome-5.15.4-free-v4-font-face.scss";

@import "./admin.scss";
@import "./flash.scss";
@import "./footer.scss";

a {
    text-decoration: none;
    color: var(--bs-primary);
}
pre {
    overflow: visible;
}
pre.wrap {
    word-break: break-all;
    white-space: pre-wrap;
}
.clear {
    clear: both;
}
/* navbar */
.navbar {
    padding-top: 0.3rem;
    margin-bottom: 0.6em;
    & > .container-fluid {
        align-items: baseline;
    }
}
.navbar-brand {
    padding: 0;
} 
.nav-link {
    padding: 0.65rem 1rem 0;
}
.kmxgit-logo, .kmxgit-logo-lg, .kmxgit-logo-light, .kmxgit-logo-light-lg {
    & > span {
        display: inline-block;
        transform: rotate(-0.125turn);
        margin: 0 0.3em;
    }
    display: inline-block;
    padding: 0 0.4em 0 0;
    background: #000;
    color: #fff;
}
.kmxgit-logo, .kmxgit-logo-lg {
    &:hover {
        color: #fff;
    }
}
.kmxgit-logo-light, .kmxgit-logo-light-lg {
    background: #fff;
    color: #000;
    &:hover {
        color: #000;
    }
}
.kmxgit-logo-lg, .kmxgit-logo-light-lg {
    font-size: 4em;
}
/* misc */
.avatar-lg {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
.commit-avatar {
    float: left;
    margin-right: 0.5em;
}
.clear {
    clear: both;
}
/* user */
.btn-danger, .btn-danger:hover {
    color: #fff;
}
textarea#user_description,
textarea#organisation_description,
textarea#repository_description {
    min-height: 10em;
}
textarea#user_ssh_keys,
textarea#repository_deploy_keys {
    font-family: monospace;
    min-height: 20em;
    overflow-x: scroll;
    overflow-y: scroll;
}
pre.ssh_keys {
    max-width: 20em;
    white-space: pre-wrap;
}
pre.admin_ssh_keys {
    max-width: 40em;
    white-space: pre-wrap;
}
img.qrcode {
    width: 50%;
    min-width: 190px;
    max-width: 256px;
    margin: auto;
    display: block;
}

/* repository */
#repo_title {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: $primary;
    }
    word-break: break-all;
}
table.admin-properties th {
    min-width: 8em;
}
.file_content {
    border: solid 1px #ccc;
    padding: 0;
    margin: 0.5em 0;
}
.content_text {
    margin: 0;
    padding: 0.5em 0.5em 0.5em 3.5em;
    position: relative;
    .line_numbers {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        text-align: right;
        width: 2.5em;
        color: #aaa;
        a {
            text-decoration: none;
            color: #aaa;
        }
        pre {
            overflow: hidden;
        }
    }
    code[class*=language-], pre[class*=language-] {
        font-family: courier_new;
        font-weight: bold;
    }
    pre[class*=language-] {
        margin: -0.3em;
        padding: 0.3em;
    }
}
.content_html {
    margin: 0;
    padding: 0.5em;
    position: relative;
}
.content_html img {
    max-width: 100%;
}

.invalid-feedback {
    display: inherit;
}
h1,h2,h3,h4,h5,h6 {
    a {
        text-decoration: none;
        color: #103;
    }
}
.break-all {
    word-break: break-all;
}
/* log */
table.git-log {
    .date    { min-width: 15em; }
    .message { min-width: 15em; }
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
