/* This file is for your main application CSS */
@import "./inter.scss";
@import "./kmx_colors.scss";
$primary: #000;
$danger: $kmx_orange;
$dark: #000;
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "courier_new", "Courier New", monospace;
@import "./courier_new.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./fontawesome-5.15.4-free.scss";
@import "./fontawesome-5.15.4-free-v4-shims.scss";
@import "./fontawesome-5.15.4-free-v4-font-face.scss";

// @import "../node_modules/highlight.js/scss/github.scss";
@import "../node_modules/highlight.js/scss/panda-syntax-dark.scss";

@import "./admin.scss";
@import "./flash.scss";
@import "./footer.scss";

pre {
    overflow: visible;
    max-width: 80em;
    margin-bottom: 2rem;
}
pre.wrap {
    white-space: pre-wrap;
}
pre.word-break {
    word-break: break-all;
    white-space: pre-wrap;
}
pre code.hljs {
    padding: 0;
    overflow: visible;
}
.content_html p {
    max-width: 40em;
}
.clear {
    clear: both;
}
.circle {
    border-radius: 50%;
}
/* navbar */
.navbar {
    padding-top: 0.3rem;
    margin-bottom: 0.6em;
    & > .container-fluid {
        align-items: baseline;
    }
}
.navbar-brand {
    padding: 0;
} 
.nav-link {
    padding: 0.65rem 1rem 0;
}
.kmxgit-logo, .kmxgit-logo-lg, .kmxgit-logo-light, .kmxgit-logo-light-lg {
    & > span {
        display: inline-block;
        transform: rotate(-0.125turn);
        margin: 0 0.3em;
    }
    display: inline-block;
    padding: 0 0.4em 0 0;
    background: #000;
    color: #fff;
}
.kmxgit-logo, .kmxgit-logo-lg {
    &:hover {
        color: #fff;
    }
}
.kmxgit-logo-light, .kmxgit-logo-light-lg {
    background: #fff;
    color: #000;
    &:hover {
        color: #000;
    }
}
.kmxgit-logo-lg, .kmxgit-logo-light-lg {
    font-size: 4em;
}
/* borders */
$border-radius: 0.375rem;
.list-group {
    border-radius: $border-radius;
}
.list-group-item {
    padding: 0.5rem;
}
/* misc */
.avatar-lg {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
.bg-h {
    background: #faf9ff;
}
.commit-avatar {
    margin-right: 0.5em;
}
.clear {
    clear: both;
}
.fa.fixed-width {
    width: 1.2em;
}
.list-group.inline {
    display: inline-block;
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.status-running {
    animation: rotating 2s linear infinite;
}
/* user */
.btn-danger, .btn-danger:hover {
    color: #fff;
}
textarea#user_description,
textarea#organisation_description,
textarea#repository_description {
    min-height: 10em;
}
textarea#user_ssh_keys,
textarea#repository_deploy_keys {
    font-family: monospace;
    min-height: 20em;
    overflow-x: scroll;
    overflow-y: scroll;
}
pre.ssh_keys {
    max-width: 20em;
    white-space: pre-wrap;
}
pre.admin_ssh_keys {
    max-width: 40em;
    white-space: pre-wrap;
}
img.qrcode {
    width: 50%;
    min-width: 190px;
    max-width: 256px;
    margin: auto;
    display: block;
}

/* repository */
#repo_title {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: $primary;
    }
    word-break: break-all;
}
table.properties {
    td {
        vertical-align: middle;
    }
    th {
        min-width: 8em;
    }
}
.file_content {
    padding: 0;
    margin: 0.5em 0;
}
.content_text {
    margin: 0;
    padding: 0.5em 0.5em 0.5em 3.5em;
    position: relative;
    .line_numbers {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        text-align: right;
        width: 2.5em;
        color: #aaa;
        a {
            text-decoration: none;
            color: #aaa;
        }
        pre {
            overflow: hidden;
        }
    }
}
pre {
    margin-bottom: 0;
}
code, pre, code[class*=language-], pre[class*=language-] {
    font-size: 1.1rem;
    font-family: courier_new;
    font-weight: bold;
}
.bg-dark pre {
    color: #ddd;
}
pre[class*=language-] {
    margin: -0.3em;
    padding: 0.3em;
}
.content_html {
    margin: 0;
    padding: 0.5em;
    position: relative;
}
.content_html img {
    max-width: 100%;
}

.invalid-feedback {
    display: inherit;
}
h1,h2,h3,h4,h5,h6 {
    word-break: break-all;
    a {
        text-decoration: none;
        color: #103;
    }
}
.break-all {
    word-break: break-all;
}
/* log */
table.git-log {
    .date    { min-width: 15em; }
    .message { min-width: 15em; }
}
/* repository */
.commit {
    .btn {
        float: right;
    }
    .property {
        display: inline-block;
        font-weight: bold;
        min-width: 5em;
    }
}
/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
