/* This file is for your main application CSS */
@import "./inter.scss";
$font-family-sans-serif: "Inter", sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

@import "./flash.scss";
@import "./pygments.scss";

/* footer */
.footer {
    padding: 1em;
    word-break: normal;
}
/* user */
textarea#user_description,
textarea#organisation_description,
textarea#repository_description {
    min-height: 10em;
}
textarea#user_ssh_keys,
textarea#repository_deploy_keys {
    font-family: monospace;
    min-height: 20em;
    overflow-x: scroll;
    overflow-y: scroll;
}
pre.ssh_keys {
    max-width: 20em;
    white-space: pre-wrap;
}
pre.admin_ssh_keys {
    max-width: 40em;
    white-space: pre-wrap;
}
img.qrcode {
    width: 50%;
    min-width: 190px;
    max-width: 512px;
    margin: auto;
    display: block;
}

/* repository */
#repo_title {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: blue;
    }
}
table.admin-properties th {
    min-width: 8em;
}
.file-content {
    border: solid 1px #ccc;
    padding: 1em;
    * {
        word-break: normal;
    }
}
.content_text {
    border: solid 1px #ccc;
    padding: 0.5em 0.5em 0.5em 3.5em;
    margin: 0;
    position: relative;
}
.content_text .line_numbers {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    text-align: right;
    width: 2.5em;
    color: #aaa;
    a {
        text-decoration: none;
        color: #aaa;
    }
} 
    
pre code {
    display: block;
    border: solid 1px #ccc;
    padding: 1em;
    overflow: scroll;
}
.content_html img {
    max-width: 100%;
}

.invalid-feedback {
    display: inherit;
}
h2 a {
    text-decoration: none;
    color: #000;
}
* {
    word-break: break-all;
}
/* log */
table.git-log {
    * { word-break: normal; }
    .commit  { min-width: 6em; }
    .author  { min-width: 10em; }
    .date    { min-width: 15em; }
    .message { min-width: 15em; }
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
