<div class="container-fluid center">
  <%= if get_flash(@conn)["error"] do %>
    <div class="flash-error"><%= get_flash(@conn)["error"] %></div>
  <% end %>
  <%= if get_flash(@conn)["warning"] do %>
    <div class="flash-warning"><%= get_flash(@conn)["warning"] %></div>
  <% end %>
  <%= if get_flash(@conn)["info"] do %>
    <div class="flash-info"><%= get_flash(@conn)["info"] %></div>
  <% end %>
</div>
