<li class="nav-item">
  <%= link "login", to: Routes.session_path(@conn, :new), class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link "register", to: Routes.registration_path(@conn, :new), class: "nav-link" %>
</li>
