<%= form_for @conn, @search_action, [method: :get], fn f -> %>
  <div class="input-group mb-3">
    <%= text_input f, :search, class: "form-control" %>
    <%= submit gettext("Search"), class: "btn btn-primary" %>
  </div>
<% end %>
