<div class="container-fluid">

  <h1><%= gettext "Add user to %{repo}", repo: Repository.full_slug(@repo) %></h1>

  <%= form_for :repository, @action, fn f -> %>

    <div class="mb-3">
      <%= label f, :login, class: "form-label" %>
      <%= text_input f, :login, class: "form=control" %>
    </div>

    <div class="mb-3">
      <%= submit gettext("Submit"), class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
