<%= if !@git.content do %>
  <%= Enum.map @git.readme, fn readme -> %>
    <hr/>
    <h3><a id={readme.name} href={"##{readme.name}"} ><%= readme.name %></a></h3>
    <div class="container-fluid">
      <div class="container-fluid file_content">
        <div class="content_html">
          <%= if readme.html do %>
            <%= raw readme.html %>
          <% else %>
            <pre><%= readme.txt %></pre>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
