<%= if @tree do %>
  <%= if tree = Enum.find(@git.trees, fn {_, name, _} -> name == @tree end) do %>
    <hr/>
    <p>
      <%= tree_type(tree) %>
      <%= select :repository, :tree, select_trees(@git.trees), selected: @tree_url, class: "tree" %>
    </p>
  <% end %>
<% end %>
