<%= link to: Routes.repository_path(@conn, :show, Repository.owner_slug(@repo), Repository.splat(@repo, ["_log", @branch])) <> "##{@git.log1.hash}" do %>
  <div class="log1">
    <div class="date">
      <%= @git.log1.date |> String.replace("T", " ") |> String.replace("+", " +") %>
    </div>
    <div class="author">
      <%= @git.log1.author %>
    </div>
    <div class="message" %>
      <%= @git.log1.message %>
    </div>
  </div>
<% end %>
