<h2><%= gettext("Files") %></h2>
<ul>
  <%= for file <- @git.files do %>
    <li>
      <%= case file.type do %>
        <% "blob" -> %>
          <%= link file.name, to: file.url %>
        <% "tree" -> %>
          <%= link "#{file.name}/", to: file.url %>
        <% _ -> %>
          <%= "#{file.type} #{file.name}" %>
      <% end %>
    </li>
  <% end %>
</ul>
