<div class="file_content">
  <div class="content_text">
    <div class="line_numbers">
      <pre><%= for ln <- @git.line_numbers do %><%= link ln, id: ln, to: "##{ln}" %>
<% end %></pre>
    </div>
    <pre><code class={"language-#{@git.content_lang}"}><%= @git.content %></code></pre>
  </div>
</div>
